<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjtachao.fish.water.watermyteststaterdemo.mapper.TestPersonMapper" >
    <resultMap id="personResultMap" type="com.zjtachao.fish.water.watermyteststaterdemo.bean.TestPerson" >
        <id column="ID" property="id" />
        <result column="NAME" property="name"  />
        <result column="AGE" property="age"  />
        <result column="ADDRESS" property="address" />
        <result column="CREATE_TIME" property="createTime"  />
        <result column="MODIFY_TIME" property="modifyTime"  />
        <result column="DELETE_FLAG" property="deleteFlag"  />
    </resultMap>


    <sql id="Base_Column_List" >
        ID, NAME, AGE , ADDRESS, CREATE_TIME  , MODIFY_TIME  ,DELETE_FLAG
    </sql>

    <select id="findAll" resultMap="personResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM person
        WHERE 1=1
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="personResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM person
        WHERE 1=1
        AND id = #{id}
    </select>

    <insert id="insertPerson" parameterType="com.zjtachao.fish.water.watermyteststaterdemo.mapper.TestPersonMapper" >
        INSERT INTO
        person( NAME , AGE , ADDRESS , CREATE_TIME  , MODIFY_TIME , DELETE_FLAG)
        VALUES
        ( #{name} , #{age} , #{address} , #{createTime} , #{modifyTime} , #{deleteFlag})
    </insert>

    <update id="updatePersonById" parameterType="com.zjtachao.fish.water.watermyteststaterdemo.mapper.TestPersonMapper" >
        UPDATE
        person
        SET
        NAME = #{name} ,
        AGE = #{age} ,
        ADDRESS = #{address} ,
        MODIFY_TIME = #{modifyTime}
        WHERE 1=1
        AND id = #{id}
    </update>

    <delete id="deletePersonById" parameterType="java.lang.Long" >
        DELETE FROM person WHERE id = #{id}
    </delete>
</mapper>